body {
	border: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background: #666;
}

canvas {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid black;
}

@font-face {
	font-family: Flappy Bird;
	src: url("font.ttf");
}