* {
	padding: 0;
	margin: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 30px;
}

body {
	font-family: Verdana;
	background: black;
	overflow: hidden;
}

canvas {
	background: #ffffff;
}